@{
    ViewData["Title"] = "ProductDetailsEdit";
}
@model ProductModel
<h1 class="display-5 text-primary">Edit Product</h1>
<hr />
<form asp-controller="Admin" asp-action="ProductDetailsEdit" method="post" enctype="multipart/form-data" >
    <input type="hidden" asp-for="ProductId" value=@Model.ProductId />
    <div class="row">   
        <div class="col-md-8">
            <div class="form-group row mb-2">
                <div class="col-md-2 d-flex align-items-center">
                    <label class="form-check-label" asp-for="Name"></label>
                </div>
                <div class="col-md-10">
                    <input type="text" class="form-control" asp-for="Name" />
                </div>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group row mb-2">
                <div class="col-md-2 d-flex align-items-center">
                    <label class="form-check-label" asp-for="Description"></label>
                </div>
                <div class="col-md-10">
                    <input type="text" class="form-control" asp-for="Description" />
                </div>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group row mb-2">
                <div class="col-md-2 d-flex align-items-center">
                    <label class="form-check-label" asp-for="Price"></label>
                </div>
                <div class="col-md-10">
                    <input type="text" class="form-control" asp-for="Price" />
                </div>
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group row mb-2">
                <div class="col-md-2 d-flex align-items-center">
                   
                    <label class="form-check-label">Image</label>
                </div>
                <div class="col-md-10">
                     <img id="imgViewer"  src="~/images/@Model.ImageUrl"/>
                    <input class="d-none" type="file" name="file" id="formFile" accept="image/" />
                    <div>
                    <label class="btn btn-sm btn-primary" for="formFile">Upload Image</label>
                    <label id="imageUrl">@Model.ImageUrl</label>
                    </div>
                </div>
                    <span class="text-danger">@ViewBag.ErrorImageMessage</span>

            </div>
           
            
            <div class="form-group mb-2">
                <div class="col-md-12 row">
                    <button type="submit" class="btn btn-sm btn-success col-md-3 offset-9">Save</button>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <h5 class="display-6 text-primary">Categories</h5>
            @foreach (var category in (List<Category>)ViewBag.Categories)
            {
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class='form-check-input'
                    value="@category.CategoryId" name="categoryIds" 
                   
                   
                   
                    @{string checkedOrNot="";}

                    @if(@Model.SelectedCategories != null)
                    {
                        @foreach (var selectedCategory in Model.SelectedCategories)
                        {
                            @if (checkedOrNot != "" )
                            {
                                break;
                                }
                            checkedOrNot = selectedCategory.CategoryId == category.CategoryId ? "checked" : "";
                            
                        }
                    }
                    @checkedOrNot
                    

                    />
                    <label class="form-check-label">@category.Name</label>
                </div>
            }
            <span class="text-danger">@ViewBag.ErrorCategoryMessage</span>
            <hr />
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="form-check-input" asp-for="IsApproved" />
                <label class="custom-control-label">Is Approved ?</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="form-check-input" asp-for="IsHome" />
                <label class="custom-control-label">Is Home ?</label>
            </div>
        </div>
    </div>
</form>

<script>
let formFile = document.getElementById("formFile");
let imgViewer = document.getElementById("imgViewer");
let imgUrl = document.getElementById("imageUrl");

formFile.addEventListener("change", e =>{
    let files = e.target.files;
    imgViewer.setAttribute("src",window.URL.createObjectURL(files[0]));
    imgUrl.innerText= imgViewer.getAttribute("src");
});
</script>